
//////////////////////////////////////////////////////////////////
///////////  MISC
//////////////////////////////////////////////////////////////////

.divider-sm {
  border-bottom: 1px solid rgba(160,160,160,0.2);
  margin: 8px 0;
}

.divider {
  margin: 2rem 0;
  border-bottom: 1px solid rgba(160,160,160,0.2);
}

.section-title {
  line-height: 32px;
  font-size: 1.64rem;
  font-weight: 300;
  margin: .5rem .2rem 0 .2rem;
}


//////////////////////////////////////////////////////////////////
///////////  NAVIGATION
//////////////////////////////////////////////////////////////////

.nav-pm {
  background-color: $color-secondary;

  &__logo {
    width: 18rem;
    margin: 0 2rem;
    padding-top: .5rem;
  }

  &__links {
    text-transform: uppercase;
    font-weight: 400;

    li a {
      font-size: 1.1rem !important;
    }
  }

  @media only screen and (max-width: 600px) {
    &__logo {
      width: 12rem;
    }
  }
}

.nav-re {
  background-color: $color-primary !important;

  &__title {
    margin: 0 2rem;
  }

  @media only screen and (max-width: 600px) {
    &__title {
      font-size: 1.3rem !important;
      margin: 0;
    }
  }
}

//////////////////////////////////////////////////////////////////
///////////  SECTION WRAPPER
//////////////////////////////////////////////////////////////////

.step-wrapper {
  opacity: 0;
  -webkit-transform: translateX(3rem);
  transform: translateX(3rem);
  -webkit-transition: all 0.75s;
  transition: all 0.75s;

  &.active {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

//////////////////////////////////////////////////////////////////
///////////  MY LISTS
//////////////////////////////////////////////////////////////////
.template-list, .progress-list, .result-list {
  cursor: pointer;
}

.my-lists {

  &__header {
    padding-top: 2rem;
  }

  &__buttons {
    display: flex;
    justify-content: space-around;
  }
}

//////////////////////////////////////////////////////////////////
///////////  START SECTION
//////////////////////////////////////////////////////////////////
.list-category-wrapper {
  margin-top: 2rem;
}

// Previous Session Toast
.toast .toast-action {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.actionable-toast {
  flex-direction: column;
}

@media only screen and (min-width: 993px) {
  #toast-container {
    top: 12% !important;
  }
}

.all-top-games-btn {
  margin-top: 1rem;
}

//////////////////////////////////////////////////////////////////
///////////  LIST SECTION
//////////////////////////////////////////////////////////////////
.list-editor {

  @media only screen and (min-width: 993px) {
    & {
      margin: 0 -10% !important;
    }
  }
}

.list-buttons {
  margin-bottom: 0;
  padding-bottom: 4px;
}

.bgg-username-header {
  margin: 0;
}

.collection-header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 71px;

  &__image-container {
    width: 50px;
    display: flex;
    justify-content: center;
  }

  &__image {
    max-width: 50px;
    max-height: 50px;
    border-radius: 2px;
  }

  &__no-image {
    cursor: pointer;
  }

  &__title {
    margin-left: 10px;
    justify-self: start;
    flex-grow: 1;
  }

  &__icon {
    position: unset;
    color: #527A45 !important;
    transition: all .4s ease-in-out;

    &.added {
      transform: translateX(20px);
      opacity: 0;
    }
  }
}

.collection-item__image {
  width: 50px;
}

.bgg-personal-rating {
  width: 100%;
  display: flex;
  justify-content: center;

  &__form {
    width: 75%
  }
}

#min-max-rating-slider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.list-types-wrapper {
  display: flex;
  justify-content: space-around;
}

.list-types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  flex-direction: column;
}

.bgg-filter-heading {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: .5rem;
}

[type="checkbox"]+span:not(.lever) {
  padding-left: 22px;
  margin-right: 5px;
}

.list-header {
  background-color: $color-secondary;
  color: #fff;
  border: 1px solid $color-secondary;
}

.list-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bgg-search-results-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: 1;

  &__title {
    align-self: left;
    flex-grow: 1;
  }

  &__select {
    flex-grow:1;
  }
}

//////////////////////////////////////////////////////////////////
///////////  RANK SECTION
//////////////////////////////////////////////////////////////////

.progress {
  margin-top: 2rem !important;
}

.rank-card {
  transition: all .4s ease-in-out;

  &--fade-out {
    transform: scale(.7);
    opacity: 0;
  }
}

.rank-card-content {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 200px;

  &__img {
    max-width: 15rem;
    margin-right: 1.5rem;
    border-radius: 3px;
  }

  &__text {
    text-transform: uppercase;
    flex-grow: 1;
  }

  &__delete {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    & {
      padding: 1rem !important;
      min-height: 160px;
    }

    &__img {
      max-width: 9rem;
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  #keys-reminder {
      display: none;
  }
}

// Next Button
.next {
  width: 10rem;
  height: 10rem;
  background-color: $color-primary;
  position: fixed;
  top:40%;
  right: -20rem;
  transform: rotate(-45deg);
  border-radius: 3px;
  transition: all .5s;
  opacity: 0;
  z-index: 890;
  cursor: pointer;

  &__text {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: #fff;
    text-transform: uppercase;
  }

  &__icon {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 30px;
    left: 30px;

  }

  &--visible {
    opacity: 1;
    transform: translateX(-15rem) rotate(45deg);
  }

  @media only screen and (max-width: 600px) {
    &--visible {
      transform: translateX(-11rem) rotate(45deg);
    }
  
    &__text {
      display: none;
    }
  
    &__icon {
      bottom: -7px;
      left: -8px;
    }
  }
}

//////////////////////////////////////////////////////////////////
///////////  RESULT SECTION
//////////////////////////////////////////////////////////////////

#results-table-wrapper {
  width: 80%;
  margin: 3rem auto;

  @media only screen and (max-width: 600px) {
    & {
      width: 100%;
    }
  }
}

.result-container {
  margin-top: 1rem;
}

.rank-column {
  width: 10%;
}

.result-options {
  display: flex;
  justify-content: space-around;
  margin-top: 12px;
  margin-bottom: 20px;
}

.top-nine-image {
  width: 300px;
  height: 300px;
  padding: 0;
  margin-top: 10px;
  margin: auto;
  display: block;

  @media only screen and (max-width: 600px) {
    width: 200px;
    height: 200px;
  }  
}

.top-nine-btn {
  margin-left: 4px;
}

.image-wrapper {
  min-height: 300px;

  @media only screen and (max-width: 600px) {
    min-height: 200px;
  }  
}


//////////////////////////////////////////////////////////////////
///////////  RERANK OPTIONS
//////////////////////////////////////////////////////////////////

.rerank-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__radio {
    transform: translateX(5rem);
    transition: all .5s;

    &.num-vis {
      transform: translateX(0);
    }

    & + .rerank-options__num.visible {
      transform: translateX(0);
    }
  }

  &__num {
    margin-left: 2rem;

    opacity: 0;
    transform: translateX(-4rem);
    transition: all .5s;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }

    @media only screen and (max-width: 600px) { 
      & {
        margin-left: 1rem;
      }
    }
  }
}

//////////////////////////////////////////////////////////////////
///////////  FOOTER
//////////////////////////////////////////////////////////////////
.footer.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  background-color: #232323 !important;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.footer-copyright {
  margin: 0 2rem;
  padding: 1rem 0;
  background-color: #232323 !important;

  @media only screen and (max-width: 600px) {
    align-self: center;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 2rem;

  & > a {
    margin: 0 1rem;
    align-self: center;
  }

  @media only screen and (max-width: 600px) {
    margin-top: 1rem;
    order: -1;
  }
}


//////////////////////////////////////////////////////////////////
///////////  QUICK HELP
//////////////////////////////////////////////////////////////////

.help {
  line-height: 2rem;
  margin: 0 2rem 0 1rem;

  @media only screen and (max-width: 600px) {
    margin-right: 2rem;
  }

  &__checkbox {
    display: none;
  }

  & label {
    color: #fff;
  }

  &__checkbox:checked+label>.help__icon {
    color: transparent;
  }

  &__button {
    display: inline-block;
    position: relative;
    z-index: 899;
    cursor: pointer;
  }

  &__background {
    height: 2rem;
    width: 2rem;
    position: fixed;
    top: -4rem;
    right: -4rem;
    border-radius: 50%;
    background-color: rgba($color-grey-dark, .2);
    z-index: 895;
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__list {
    display: inline-block;
  }

  &__icon-inline {
    display: inline-block !important;
    font-size: 1.5rem !important;
  }

  &__text {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #fff;
    font-size: 1.1rem;

    & > div > p,
    & > div > ul {
      padding-bottom: 1rem;
    }

    & > div > ul > li {
      padding-bottom: .5rem;
      list-style-type: square; 
      float: none;
      margin-left: 8px;
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(250);
    background-color: rgba($color-grey-dark, .9);
  }

  &__checkbox:checked ~ &__text {
    opacity: 1;
    width: 100%;
    z-index: 898;
    margin: 0 auto;
    padding: 0 20%;
    overflow-y: auto;

    @media only screen and (max-width: 600px) {
      padding: 0 5%;
    }
  }

  // ICON
  &__icon {
    &::before,
    &::after {
      width: 2rem;
      height: 2px;
      background-color: transparent;
      display: inline-block;
      margin-top: 1rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;

    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__checkbox:checked + &__icon {
    background-color: transparent;
    color: transparent;
    opacity: 0;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 17px;
    transform: rotate(135deg);
    background-color: #fff;
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 17px;
    transform: rotate(-135deg);
    background-color: #fff;
  }
  
}

//////////////////////////////////////////////////////////////////
///////////  MODALS
//////////////////////////////////////////////////////////////////

.modal-content {
  position: relative;
  border-bottom: 1px solid rgba($color-grey-light-2, .6);
}

.modal-footer {
  text-align: center !important;
}

.modal-close-x {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: rgba($color-grey-dark, .9);
}

.modal.bottom-sheet {
  max-height: 75% !important;
  width: 80%;
  margin: 0 auto;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }
}

.account-modal__content {
  @media only screen and (max-width: 600px) {
    padding: 8px !important;
  }
}

// Shared Result Page
.shared-result-options {
  display: flex;
  justify-content: space-around;
}