
//////////////////////////////////////////////////////////////////
///////////  MISC
/////////////////////////////////////////////////////////////////

.divider-sm {
  border-bottom: 1px solid rgba(160,160,160,0.2);
  margin: 8px 0;
}

.divider {
  margin: 2rem 0;
  border-bottom: 1px solid rgba(160,160,160,0.2);
}


//////////////////////////////////////////////////////////////////
///////////  NAVIGATION
/////////////////////////////////////////////////////////////////

.nav-pm {
  background-color: $color-secondary;

  &__logo {
    width: 18rem;
    margin: 0 2rem;
    padding-top: .5rem;
  }

  &__links {
    text-transform: uppercase;
    font-weight: 400;

    li a {
      font-size: 1.1rem !important;
    }
  }

  @media only screen and (max-width: 600px) {
    &__logo {
      width: 12rem;
    }
  }
}

.nav-tre {
  background-color: $color-primary !important;

  &__title {
    margin: 0 2rem;
  }

  @media only screen and (max-width: 600px) {
    &__title {
      font-size: 1.3rem !important;
      margin: 0;
    }
  }
}

.tab.disabled>a {
  color: rgba(255,255,255,0.2) !important;
}


.step-tab--available {
  display: inline-block !important;
}

// Tool tip arrow
.material-tooltip {
  overflow: visible !important;

  &::before {
    width: 1rem;
    height: 1rem;
    background-color: #323232;
    content: "";
    position: absolute;
    left: 47%;
    top: -.4rem;
    transform: rotate(45deg);
    border-radius: 2px;
  }
}

//////////////////////////////////////////////////////////////////
///////////  SECTION WRAPPER
//////////////////////////////////////////////////////////////////

.step-wrapper {
  opacity: 0;
  -webkit-transform: translateX(3rem);
  transform: translateX(3rem);
  -webkit-transition: all 0.75s;
  transition: all 0.75s;

  &.active {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}


//////////////////////////////////////////////////////////////////
///////////  LIST SECTION
//////////////////////////////////////////////////////////////////

#list-items-wrapper {
  margin: 0 2rem;
  padding: 1rem;
  background-color: $color-grey-light-1;

  @media only screen and (max-width: 600px) {
    & {
      margin: 0 .2rem;
      padding: .2rem;
    }
  }
}

.list-buttons {
  margin-bottom: 0;
}

.bgg-username-header {
  margin: 0;
}

.collection-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bgg-personal-rating {
  width: 100%;
  display: flex;
  justify-content: center;

  &__form {
    width: 75%
  }
}

.list-types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.bgg-filter-heading {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: .5rem;
}

[type="checkbox"]+span:not(.lever) {
  padding-left: 22px;
  margin-right: 5px;
}

.list-header {
  background-color: $color-secondary;
  color: #fff;
  border: 1px solid $color-secondary;
}

//////////////////////////////////////////////////////////////////
///////////  RANK SECTION
//////////////////////////////////////////////////////////////////

.progress {
  margin-top: 2rem !important;
}

.rank-card {
  transition: all .4s ease-in-out;

  &--fade-out {
    transform: scale(.7);
    opacity: 0;
  }
}

.rank-card-content {
  display: flex;
  align-items: center;
  position: relative;
  min-height:200px;

  &__img {
    max-width: 15rem;
    margin-right: 1.5rem;
  }

  &__text {
    text-transform: uppercase;
  }

  &__delete {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    & {
      padding: 1rem !important;
    }

    &__img {
      max-width: 9rem;
      margin-right: 1rem;
    }
  }
}

@media only screen and (max-width: 992px) {
  #keys-reminder {
      display: none;
  }
}

// Next Button
.next {
  width: 10rem;
  height: 10rem;
  // background-color: $color-grey-light-2;
  background-color: $color-primary;
  position: fixed;
  top:40%;
  right: -20rem;
  transform: rotate(-45deg);
  border-radius: 3px;
  transition: all .5s;
  opacity: 0;
  z-index: 999;
  cursor: pointer;

  &__text {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: #fff;
    text-transform: uppercase;
  }

  &__icon {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 30px;
    left: 30px;

  }

  &--visible {
    opacity: 1;
    transform: translateX(-15rem) rotate(45deg); // on mobile - translateX(-13rem)
  }

  @media only screen and (max-width: 600px) {
    &--visible {
      transform: translateX(-11rem) rotate(45deg);
    }
  
    &__text {
      display: none;
    }
  
    &__icon {
      bottom: -7px;
      left: -8px;
    }
  }
}

//////////////////////////////////////////////////////////////////
///////////  RERANK OPTIONS
//////////////////////////////////////////////////////////////////

.rerank-options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  &__radio {
    transform: translateX(5rem);
    transition: all .5s;

    &.num-vis {
      transform: translateX(0);
    }

    & + .rerank-options__num.visible {
      transform: translateX(0);
    }
  }

  &__num {
    margin-left: 2rem;

    opacity: 0;
    transform: translateX(-4rem);
    transition: all .5s;

    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

//////////////////////////////////////////////////////////////////
///////////  FOOTER
//////////////////////////////////////////////////////////////////
.footer.page-footer {
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  background-color: #232323 !important;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.footer-copyright {
  margin: 0 2rem;
  padding: 1rem 0;
  background-color: #232323 !important;

  @media only screen and (max-width: 600px) {
    align-self: center;
  }
}

.footer-links {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 2rem;

  & > a {
    margin: 0 1rem;
    align-self: center;
  }

  @media only screen and (max-width: 600px) {
    margin-top: 1rem;
    order: -1;
  }
}


//////////////////////////////////////////////////////////////////
///////////  QUICK HELP
//////////////////////////////////////////////////////////////////

.help {
  line-height: 2rem;
  margin: 0 2rem 0 1rem;

  @media only screen and (max-width: 600px) {
    margin-right: 2rem;
  }

  &__checkbox {
    display: none;
  }

  &__button {
    // position: absolute;
    // top: 5rem;
    // right: 3rem;
    display: inline-block;
    position: relative;
    z-index: 1000;
    cursor: pointer;
  }

  &__background {
    height: 2rem;
    width: 2rem;
    position: fixed;
    top: -4rem;
    right: -4rem;
    border-radius: 50%;
    background-color: rgba($color-grey-dark, .2);
    z-index: 999;
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__text {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 0;
    width: 0;
    transition: all .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    color: #fff;
    font-size: 1.1rem;

    & > div > p,
    & > div > ol {
      padding-bottom: 1rem;
    }

    & > div > ol > li {
      padding-bottom: .5rem;
    }
  }

  // FUNCTIONALITY
  &__checkbox:checked ~ &__background {
    transform: scale(250);
    background-color: rgba($color-grey-dark, .9);
  }

  &__checkbox:checked ~ &__text {
    opacity: 1;
    width: 100%;
    z-index: 999;
    margin: 0 auto;
    padding: 0 20%;
    overflow-y: auto;

    @media only screen and (max-width: 600px) {
      padding: 0 5%;
    }
  }

  // ICON
  &__icon {
    // position: relative;
    // margin-top: 3.4rem;

    //&,
    &::before,
    &::after {
      width: 2rem;
      height: 2px;
      background-color: transparent;
      display: inline-block;
      margin-top: 1rem;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;

    }

    &::before {
      top: -.8rem;
    }

    &::after {
      top: .8rem;
    }
  }

  &__checkbox:checked + &__icon {
    background-color: transparent;
    color: transparent;
    opacity: 0;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 17px;
    transform: rotate(135deg);
    background-color: #fff;
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 17px;
    transform: rotate(-135deg);
    background-color: #fff;
  }
  
}

// Modals

.modal-content {
  position: relative;
  border-bottom: 1px solid rgba($color-grey-light-2, .6);
}

.modal-footer {
  text-align: center !important;
}

.modal-close-x {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: rgba($color-grey-dark, .9);
}