// Colors
$color-primary: #527A45;
$color-secondary: #3F5061;
$color-secondary-light: #546e7a;
$color-tertiary: #343A40;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #aaa;
$color-grey-dark: #777;