@import "/variables";
@import "/animations";
@import "/base";
@import "/layout";
@import "/mixins";
@import "/materialize-fixes";

.divider {
  margin: 2rem 0;
  border-bottom: 1px solid rgba(160,160,160,0.2);
}

.btn {
  background-color: #343A40 !important;
}

.next {
  width: 10rem;
  height: 10rem;
  // background-color: $color-grey-light-2;
  background-color: #527a45;
  position: fixed;
  top:40%;
  right: -20rem;
  transform: rotate(-45deg);
  border-radius: 3px;
  transition: all .5s;
  opacity: 0;
  z-index: 2000;
  cursor: pointer;

  &__text {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 20px;
    left: 15px;
    color: #fff;
    text-transform: uppercase;
  }

  &__icon {
    transform: rotate(-45deg);
    position: absolute;
    bottom: 30px;
    left: 30px;

  }

  &--visible {
    opacity: 1;
    transform: translateX(-15rem) rotate(45deg); // on mobile - translateX(-13rem)
  }
}


@media only screen and (max-width: 600px) {
  .nav-tre__title {
    font-size: 1.3rem !important;
    margin: 0;
  }

  .nav-pm__logo {
    width: 12rem;
  }

  #list-items-wrapper {
    margin: 0 .2rem;
    padding: .2rem;
  }

  .row {
    margin-bottom: 1rem;
  }

  .rank-card-content__img {
    max-width: 9rem;
    margin-right: 1rem;
  }

  .rank-card-content {
    padding: 1rem !important;
  }

  .input-field {
    margin-top: .3rem;
    margin-bottom: .3rem;
  }

  .next--visible {
    transform: translateX(-13rem) rotate(45deg);
  }

}