@import "/materialize";
@import "/base";
@import "/animations";
@import "/variables";
@import "/mixins";


.divider {
  margin: 20px 0;
  border-bottom: 1px solid rgba(160,160,160,0.2);
}

#list-tab {
  display: none;
}

#rank-tab {
  display: none;
}

#result-tab {
  display: none;
}

.step-tab--available {
  display: inline-block !important;
}

.progress {
  margin-top: 2rem !important;
}
