@import "/styles/materialize";
@import "/styles/base";
@import "/styles/animations";
@import "/styles/variables";
@import "/styles/mixins";

.nav-pm {
  background-color: #3F5061;
  z-index: 5;

  &__logo {
    width: 18rem;
    margin: 0 2rem;
    padding-top: .5rem;
  }

  &__links {
    text-transform: uppercase;
    font-weight: 400;

    li a {
      font-size: 1.1rem !important;
    }
  }
}

.nav-tre {
  background-color: #527a45 !important;

  &__title {
    margin: 0 2rem;
  }
}

.divider {
  margin: 2rem 0;
  border-bottom: 1px solid rgba(160,160,160,0.2);
}

#list-items-wrapper {
  margin: 0 2rem;
  padding: 1rem;
  background-color: $color-grey-light-1;
}

.list-buttons {
  margin-bottom: 0;
}

#list-tab {
  display: none;
}

#rank-tab {
  display: none;
}

#result-tab {
  display: none;
}

.step-tab--available {
  display: inline-block !important;
}

.progress {
  margin-top: 2rem !important;
}

.btn {
  background-color: #343A40 !important;
}

.rank-card {
  transition: all .4s;
}

.fade-out {
  transform: scale(.6);
  opacity: 0;
}

.rank-card-content {
  display: flex;
  align-items: center;
  position: relative;

  &__img {
    max-width: 15rem;
    margin-right: 1.5rem;
  }

  &__text {
    text-transform: uppercase;
  }

  &__delete {
    position: absolute;
    top: .5rem;
    left: .5rem;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .nav-tre__title {
    font-size: 1.3rem !important;
    margin: 0;
  }

  .nav-pm__logo {
    width: 12rem;
  }

  #list-items-wrapper {
    margin: 0 .2rem;
    padding: .2rem;
  }

  .row {
    margin-bottom: 1rem;
  }

  .rank-card-content__img {
    max-width: 9rem;
    margin-right: 1rem;
  }

  .rank-card-content {
    padding: 1rem !important;
  }

}